/* style.css */
li {
    font-family: 'Trebuchet MS', Tahoma, sans-serif;
    font-weight: bold;
}

.msgtosum1 {
    color: red;
    font-size: large;
    background-color: yellow;
}

body {
    background-image: url(./images/odin-pokemon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}